<!-- portfolio section -->
<section id="portfolio">
    <div class="container">
        <h1 class="section-title">Portfolio</h1>
        <div class="spacer"></div>
        <!-- portfolio filter -->
        <ul class="portfolio-filter list-inline text-center">
            <li><a href="#" data-group="all" class="active">All</a></li>
            <li><a href="#" data-group="graphic-design">Graphic Design</a></li>
            <li><a href="#" data-group="web-development">Web Development</a></li>
            <li><a href="#" data-group="fun-stuff">Fun Stuff</a></li>
        </ul><!--end portfolio filter -->
        <ul class="row portfolio list-unstyled lightbox" id="grid">

            <!-- survey tool -->
            <li class="col-xs-6 col-md-4 project" data-groups='["web-development"]'>
                <div class="img-bg-color primary">
                    <a href="projects/survey-tool.php" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="{{ static_dir }}/images/projects/survey-tool2.jpg" alt="Survey tool" title="Survey tool">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="projects/survey-tool.php" class="view-btn" role="button" alt="View project" title="View project">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="{{ static_dir }}/images/projects/survey-tool2.jpg" class="open-gallery" role="button" alt="Open gallery" title="Open gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">Survey Tool</h5>
                        <p class="skill">Web Development</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / survey tool -->

            <!-- institutional reports -->
            <li class="col-xs-6 col-md-4 project" data-groups='["web-development", "graphic-design"]'>
                <div class="img-bg-color primary">
                    <a href="projects/institutional-reports.php" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="{{ static_dir }}/images/projects/institutional-reports1.jpg" alt="CMP Institutional reports" title="CMP Institutional reports">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="projects/institutional-reports.php" class="view-btn" role="button" alt="View project" title="View project">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="{{ static_dir }}/images/projects/institutional-reports1.jpg" class="open-gallery" role="button" alt="Open gallery" title="Open gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">CMP Institutional Reports</h5>
                        <p class="skill">Web Development, Graphic Design</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / institutional reports -->

            <!-- saic portal -->
            <li class="col-xs-6 col-md-4 project" data-groups='["web-development"]'>
                <div class="img-bg-color primary">
                    <a href="projects/saic-portal.php" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="{{ static_dir }}/images/projects/saic-portal1.jpg" alt="SAIC portal" title="SAIC portal">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="projects/saic-portal.php" class="view-btn" role="button" alt="View project" title="View project">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="{{ static_dir }}/images/projects/saic-portal1.jpg" class="open-gallery" role="button" alt="Open gallery" title="Open gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">SAIC Portal</h5>
                        <p class="skill">Web Development</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / saic portal -->

            <!-- carnegie labs -->
            <li class="col-xs-6 col-md-4 project" data-groups='["web-development", "fun-stuff"]'>
                <div class="img-bg-color primary">
                    <a href="projects/carnegie-labs.php" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="{{ static_dir }}/images/projects/carnegie-labs1.jpg" alt="Carnegie Labs" title="Carnegie Labs">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="projects/carnegie-labs.php" class="view-btn" role="button" alt="View project" title="View project">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="{{ static_dir }}/images/projects/carnegie-labs1.jpg" class="open-gallery" role="button" alt="Open gallery" title="Open gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">Carnegie Labs</h5>
                        <p class="skill">Web Development, Fun Stuff</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / carnegie labs -->

            <!-- hipster logo shortcode -->
            <li class="col-xs-6 col-md-4 project" data-groups='["web-development", "fun-stuff"]'>
                <div class="img-bg-color primary">
                    <a href="projects/hipster-logo-shortcode.php" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="{{ static_dir }}/images/projects/hipster-logo-shortcode1.jpg" alt="Hipster logo shortcode" title="Hipster logo shortcode">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="projects/hipster-logo-shortcode.php" class="view-btn" role="button" alt="View project" title="View project">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="{{ static_dir }}/images/projects/hipster-logo-shortcode1.jpg" class="open-gallery" role="button" alt="Open gallery" title="Open gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">Hipster Logo Shortcode</h5>
                        <p class="skill">Web Development, Fun Stuff</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / hipster logo shortcode -->

            <!-- simple recipes -->
            <li class="col-xs-6 col-md-4 project" data-groups='["fun-stuff"]'>
                <div class="img-bg-color primary">
                    <a href="projects/simple-recipes.php" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="{{ static_dir }}/images/projects/simple-recipes1.jpg" alt="Simple recipes" title="Simple recipes">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="projects/simple-recipes.php" class="view-btn" role="button" alt="View project" title="View project">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="{{ static_dir }}/images/projects/simple-recipes1.jpg" class="open-gallery" role="button" alt="Open gallery" title="Open gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">Simple Recipes</h5>
                        <p class="skill">Fun Stuff</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / simple recipes -->

            <!-- sizer -->
            <li class="col-xs-6 col-md-4 shuffle_sizer"></li>

        </ul> <!-- / projects -->
    </div><!-- / container -->

</section>
<!-- / portfolio section -->
