{% extends "layouts/base.html" %}
{% block title %}Robert Gutierrez | Contact{% endblock %}
{% block banner %}
    <div class="banner-info">
        <h1>Contact</h1>
    </div><!-- / banner-info -->
{% endblock %}
{% block content %}
    <div id="page-content" class="container">
        <div class="row">
            <div class="col-sm-4 contact-info text-center space-bottom">
                <div class="contact-icon">
                    <i class="lnr lnr-sync"></i>
                </div>
                <h5>SOCIAL</h5>
                <p class="social-contact">LinkedIn: <a href="https://www.linkedin.com/in/rgutierrez1014"><i class="fa fa-linkedin"></i></a></p>
                <p class="social-contact">Academia: <a href="https://csuchico.academia.edu/RobertGutierrez">&nbsp;<span style="font-family: 'Halant', Georgia, Cambria, 'Times New Roman', Times, serif;">A</span></a></p>
                <p class="social-contact">Medium: <a href="https://robert-a-gutierrez.medium.com">&nbsp;<span style="font-family: 'Halant', Georgia, Cambria, 'Times New Roman', Times, serif;">M</span></a></p>
            </div><!-- / contact-info -->

            <div class="col-sm-4 contact-info text-center space-bottom">
                <div class="contact-icon">
                    <i class="lnr lnr-envelope"></i>
                </div>
                <h5>EMAIL</h5>
                <p><a href="mailto:robert@ragutierrez.com">robert@ragutierrez.com</a></p>
            </div><!-- / contact-info -->

            <div class="col-sm-4 contact-info text-center space-bottom">
                <div class="contact-icon">
                    <i class="lnr lnr-code"></i>
                </div>
                <h5>CODE</h5>
                <p><i class="fa fa-github"></i>&nbsp;<a href="https://github.com/rgutierrez-cotech">rgutierrez-cotech (work)</a></p>
                <p><i class="fa fa-github"></i>&nbsp;<a href="https://github.com/rgutierrez1014">rgutierrez1014 (personal)</a></p>
                <p><i class="fa fa-stack-overflow"></i>&nbsp;<a href="https://stackoverflow.com/users/4139274/rgutierrez1014">rgutierrez1014</p>
            </div><!-- / contact-info -->

        </div><!-- / row -->

        <div class="row contact-area">
            <div class="col-sm-6 contact-text">
                <img src="static/images/contact-img2.jpg" alt="Robert Gutierrez" title="Robert Gutierrez">
            </div><!-- / contact-text -->

            <div class="col-sm-6 contact-form-area">
                <p>Feel free to contact me about job openings, exciting opportunities, your favorite coffee and chocolate, and why Blade Runner is the best movie ever made.</p>
                <br>
                <p><a href="mailto:robert@ragutierrez.com" class="btn btn-primary-filled" role="button"><i class="lnr lnr-envelope"></i><span>&nbsp;Email me</span></a>
                    <a href="https://www.linkedin.com/in/rgutierrez1014" class="btn btn-primary-filled" role="button"><i class="fa fa-linkedin"></i><span>&nbsp;LinkedIn</span></a></p>
            </div><!-- / col-sm-6 -->
        </div><!-- / contact-area -->

    </div><!-- / container -->
{% endblock %}
