{% extends "layouts/base.html" %}
{% block title %}Robert Gutierrez, Full-Stack Engineer{% endblock %}
{% block banner %}
<div class="row">
    <div class="banner-info col-sm-8 col-sm-offset-2">
        <h1>ROBERT GUTIERREZ</h1>
        <p>Full-Stack Engineer</p>
    </div><!-- / banner-info -->
</div><!-- / row -->
<div class="row">
    <div class="banner-summary col-sm-8 col-sm-offset-2">
        <p>I'm a creative, collaborative software engineer with strong user empathy. I have over five years of professional experience building web applications and tools to empower colleagues and customers to do their best work.</p>
    </div><!-- / banner-summary -->
</div><!-- / row -->
{% endblock %}
{% block content %}
    {% include "_portfolio.html" %}
{% endblock %}
{% block tail %}
    <!-- portfolio -->
    <script src="static/js/custom.js"></script>
    <script src="static/js/jquery.shuffle.min.js"></script>
    <!-- lightbox -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
    // This will create a single gallery from all elements that have class "lightbox"
    $('.lightbox').each(function() {
        $(this).magnificPopup({
            delegate: 'a.open-gallery', // the selector for gallery item
            type: 'image',
            gallery: {
              enabled:true
            }
        });
    });
    </script>
    <!-- / lightbox -->
    <!-- / portfolio -->
{% endblock %}
